/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
  display: block; /* To make the whole list item clickable */
  text-decoration: none;
}

.story-link:hover {
  text-decoration: underline; /* Show underline on hover */
}

.story-hostname,
.story-author,
.story-user {
  font-size: 0.7rem;
  color: #888;
  margin-left: 10px;
}

